/*
    Kommentar für die Aufgabe CSS Comments eingefügt
*/
p {
    text-align: center;
    color: red;
}

#para1 {
    text-align: center;
    color: red;
}

.center {
    text-align: center;
    color: red;
}

p.center {
    text-align: center;
    color: red;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: red;
}

h1,
h2,
p {
    text-align: center;
    color: red;
}

* {
    text-align: center;
    color: blue;
}

body {
    /*background-color: lightgrey;
    opacity: 0.1;*/
    /* background: lightgrey url("Logo_der_Hochschule_Flensburg.jpg") no-repeat center;
    background-attachment: fixed;*/
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

p {
    border: 2px solid black;
    border-radius: 5px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    margin: 25px 0 25px 0;
}