/*
    Kommentar für die Aufgabe CSS Comments eingefügt
*/
p {
    text-align: center;
    color: red;
}

#para1 {
    text-align: center;
    color: red;
}

.center {
    text-align: center;
    color: red;
}

p.center {
    text-align: center;
    color: red;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: red;
}

h1,
h2,
p {
    text-align: center;
    color: red;
}

* {
    text-align: left;
    color: black;
}

body {
    /*background-color: lightgrey;
    opacity: 0.1;*/
    /* background: lightgrey url("Logo_der_Hochschule_Flensburg.jpg") no-repeat center;
    background-attachment: fixed;*/
}

p.dotted {
    border-style: dotted;
    outline: thick blue dotted;
}

p.dashed {
    border-style: dashed;
    outline: thin purple dashed;
}

p.solid {
    border-style: solid;
    outline-style: solid;

}

p.double {
    border-style: double;
    outline-style: double;
}

p.groove {
    border-style: groove;
    outline-style: groove;
}

p.ridge {
    border-style: ridge;
    outline-style: ridge;
}

p.inset {
    border-style: inset;
    outline-style: inset;
}

p.outset {
    border-style: outset;
    outline-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

p.costom {
    border: 2px solid black;
    border-radius: 5px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    margin: 25px 0 25px 0;
}

div.fix {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div.easy {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
}

div.heigh {
    height: 100px;
    width: 500px;
    background-color: powderblue;
}

div.text {

    background-color: blue;
    color: white;
}

p.text {
    text-align-last: right;
    direction: ltr;
    unicode-bidi: bidi-override;
    text-decoration-line: overline underline;
    text-decoration-color: purple;
    text-indent: 50px;
    text-shadow: 2px 2px;
}

p.fonts {
    font-family: "Trirong", serif;
    font-size: 30px
}

p.fonts2 {
    font-family: 'Brush Script MT', cursive;
}

p.normal {
    font-weight: normal;
}

p.thick {
    font-weight: bold;
}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

ol {
    background: #ff9999;
    padding: 20px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 450px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

span {
    display: block;
}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  }
  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }